body{
    background: #f5f5f5;
    font-family: Arial;
}
.container{
    width: 350px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
input,button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}